<div class="white-box">
  <div class="profile-userpic">
    <img class="img-responsive">
  </div>
  <div class="row profile-usertitle text-format">
    <div class="profile-usertitle-name">
      @{{userInfoModel.username}}
    </div>
    <div class="profile-usertitle-job">
      {{userInfoModel.email}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 ">
      <div class="col-sm-6">
        <h4 class="text-format">Following: 5</h4>
      </div>
      <div class="col-sm-6">
        <h4 class="text-format">Followers: 2</h4>
      </div>
    </div>
  </div>
  <div class="profile-usermenu text-format">
    <ul class="nav">
      <li>
        <a [routerLink]="['/profile', userId]">
          <i class="glyphicon glyphicon-user"></i>
          Account Settings </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="glyphicon glyphicon-ok"></i>
          Tasks </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-flag"></i>
          Help </a>
      </li>
    </ul>
  </div>
</div>
