<div class="container-fluid">
  <div class="row margin-top-30">
    <div class="pull-left col-md-offset-1 col-md-2">
      <profile></profile>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10">
          <input class="form-control" type="text" placeholder="Tell us something.">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-block btn-primary">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
