<div *ngIf="isLogged">
  <nav class="navbar-inverse">
    <div class="container-fluid">
      <div class="row">
        <div class="text-format margin-left-10">
          <ul class="nav navbar-nav">
            <li><a routerLinkActive="true" routerLink="">
              <span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a><span class="glyphicon glyphicon-bell"></span> Notifications</a></li>
            <li><a><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
          </ul>
        </div>
        <div class="pull-right text-format margin-right-30">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="help" routerLinkActive="active">
                <span class="glyphicon glyphicon-question-sign"></span> Help
              </a>
            </li>
            <li>
              <a (click)="signOut()">
                <span class="glyphicon glyphicon-log-out"></span> Sign Out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
