<div class="container-fluid background">
  <div class="text-center">
    <label class="text-logo">CONTACTIFY</label>
  </div>
  <div class="wrapper col-md-offset-4 col-lg-offset-4  col-xs-offset-4  col-md-4 col-lg-4 col-xs-4">
    <form #form="ngForm" (submit)="login()" novalidate>
      <!--dummy input to disable autofill-->
      <input type="password" style="width: 0;height: 0; visibility: hidden;position:absolute;left:0;top:0;"/>

      <div class="form-group">
        <input type="text" class="form-control" name="username"
               [(ngModel)]="model.username"
               #username="ngModel" required placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control margin-top-30" name="password" placeholder="Password"
               [(ngModel)]="model.password"
               #password="ngModel" required/>
      </div>
      <div>
        <input type="submit" [disabled]="form.invalid" class="btn btn-md btn-block btn-primary margin-top-30"
               value="SIGN IN TO YOUR ACCOUNT">
      </div>
      <div class="text-center margin-top-30">
        <a class="text-blue" (click)="changePassword()">Forgot Your Password?</a>
      </div>
    </form>
  </div>
  <div>
    <label class="text-format bottom-position">Don't have an account?
      <a class="underline text-black" routerLink="/register" routerLinkActive="active">Sign Up</a>
    </label>
  </div>
</div>
