<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-offset-1 col-xs-offset-1 col-sm-offset-1 col-lg-offset-1
               col-md-3 col-xs-3 col-sm-3 col-lg-3 text-format">
        <ul class="nav navbar-nav">
          <li><a routerLinkActive="true" routerLink="home">Home</a></li>
          <li><a>Notifications</a></li>
          <li><a>Messages</a></li>
        </ul>
      </div>
      <div class="pull-right text-format margin-right-30">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a (click)="signOut()">
              <span class="glyphicon glyphicon-log-out"></span> Sign Out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
